// Onmsicons Variables
// --------------------------

$onmsicons-font-path: "../fonts" !default;
$onmsicons-font-family: "onmsicons" !default;
$onmsicons-version: "1.0.2" !default;
$onmsicons-prefix: onms- !default;

$ionicon-var-1password: "\f101";
$ionicon-var-grabber: "\f100";